<h2 class="text-center">Displaying products</h2>

<br />

@if (ViewBag.Message != null)
{
    <div class="p-3 rounded-3 text-center mb-5 @ViewBag.Alert">
        @ViewBag.Message
    </div>
}

<br />

@foreach (var product in ViewBag.AllProducts)
{
    <div class="card">

        <div class="card-body">
            <partial name="ProductInfo" model="product"></partial>

            <a class="btn btn-success" asp-controller="Products" asp-action="Show" asp-route-id="@product.Id">Show more details</a>
        </div>

    </div>

    <br />
    <br />
}

