@model Skincare_Online_Shop_.NET.Models.Product


<h2 class="text-center mt-5">Add a new product</h2>
<br />
<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3">
            <form enctype="multipart/form-data" asp-controller="Products" asp-action="New">

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Name" class="form-label">Product name</label>
                    <br />
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <br />
                </div>

                <div class="form-group">
                    <label asp-for="Image">Upload the product image</label>
                    <input asp-for="Image" class="form-control" type="file" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                    <br />
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="form-label">Product description</label>
                    <br />
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                    <br />
                </div>

                <div class="form-group">
                    <label asp-for="Ingredients" class="form-label">Product ingredients</label>
                    <br />
                    <input asp-for="Ingredients" class="form-control" />
                    <span asp-validation-for="Ingredients" class="text-danger"></span>
                    <br />
                </div>

                <div class="form-group">
                    <label asp-for="Price" class="form-label">Product price</label>
                    <br />
                    <input asp-for="Price" class="form-control" type="number" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                    <br />
                </div>

                <div class="form-group">
                    <label asp-for="Brand" class="form-label">Product brand</label>
                    <br />
                    <input asp-for="Brand" class="form-control" />
                    <span asp-validation-for="Brand" class="text-danger"></span>
                    <br /><br />
                </div>

                <div class="form-group">
                    <label asp-for="Quantity" class="form-label">Stock quantity planned</label>
                    <br />
                    <input asp-for="Quantity" class="form-control" type="number" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                    <br />
                </div>

                <div class="form-group">
                    <label for="CategoryId">Select the product category</label>
                    <br />
                    <select asp-for="CategoryId" asp-items="Model.Categ" class="form-control">
                        <option value="">Select category</option>
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                    <br />

                </div>

                <button class="btn btn-success" type="submit">Submit product</button>

            </form>
        </div>
    </div>
</div>
